{% set show_footer = true %}
{% set show_navbar = true %}
{% set activeTab = 0 %}
{# set body_class = '' #}

{% if project.picture_name is not null %}
	{% set hero_classes = "has-image-background"  %}
	{% set hero_styles = "background: linear-gradient(30deg, rgba(0,0,0, 1) 3%, rgba(0,0,0, 0.5) 100%), url('/proyectos/" ~ project.id ~ "/imagen')" %}
{% else %}
	{% set hero_classes = null %}
	{% set hero_styles = null %}
{% endif %}

{% block title %}
	{{project.title}}
{% endblock %}

{% block opengraph %}
	{% include 'project/project-opengraph.twig' %}
{% endblock %}

{% block scriptshead %}
	{% include 'project/project-scriptshead.twig'%}
{% endblock %}

{% extends 'master.twig' %}

{% block body %}
	{% include 'project/project-hero.twig' %}
	<section class="section">
		<div class="container">
			<div class="columns">
				<div class="column">
					{% if (is_state('pre-vote') or is_state('vote') or is_state('pre-results')) and project.feasible %}
						<div class="notification is-success">
							<div class="media">
								<div class="media-left">
									<i class="fas fa-check-circle fa-2x"></i>
								</div>
								<div class="media-content">
									<h1 class="subtitle is-4">
										El proyecto
										<u>ES FACTIBLE</u>
										para participar de la votación del Presupuesto del año {{project.chapter}}</h1>
								</div>
							</div>
						</div>
					{% endif %}
					{% if is_state('results') and project.feasible and project.selected == false %}
						<div class="notification is-success">
							<div class="media">
								<div class="media-left">
									<i class="fas fa-check-circle fa-2x"></i>
								</div>
								<div class="media-content">
									<h1 class="subtitle is-4">
										El proyecto
										<u>FUE FACTIBLE</u>
										y
										<u>PARTICIPÓ</u>
										de la votación del presupuesto del año {{project.chapter}}</h1>
								</div>
							</div>
						</div>
					{% endif %}
					{% if (is_state('pre-vote') or is_state('vote')) and not project.feasible %}
						<div class="notification is-danger">
							<div class="media">
								<div class="media-left">
									<i class="fas fa-times-circle fa-2x"></i>
								</div>
								<div class="media-content">
									<h1 class="subtitle is-4">
										El proyecto
										<u>NO ES FACTIBLE</u>
										para participar de la votación del Presupuesto del año {{project.chapter}}</h1>
								</div>
							</div>
						</div>
					{% endif %}
					{% if is_state('results') and not project.feasible %}
						<div class="notification is-danger">
							<div class="media">
								<div class="media-left">
									<i class="fas fa-times-circle fa-2x"></i>
								</div>
								<div class="media-content">
									<h1 class="subtitle is-4">
										El proyecto
										<u>NO FUE FACTIBLE</u>
										para participar de la votación del Presupuesto del año {{project.chapter}}</h1>
								</div>
							</div>
						</div>
					{% endif %}
					{% if project.selected and show_results() %}
						<div class="notification is-warning">
							<div class="media">
								<div class="media-left">
									<i class="fas fa-medal fa-2x"></i>
								</div>
								<div class="media-content">
									<h1 class="subtitle is-4">
										El proyecto ha sido <u>GANADOR</u> del presupuesto del año
										{{project.chapter}}</h1>
								</div>
							</div>
						</div>
					{% endif %}
					<h1 class="title is-3">Objetivo del proyecto</h1>
					<div class="message is-black">
						<div class="message-body">
							<p>{{project.objective|nl2br}}</p>
						</div>
					</div>
					<br>
					{% if (is_state('pre-vote') or is_state('vote') or is_state('pre-results') or is_state('results')) and project.feasible is defined %}
						<h1 class="title is-3 is-size-5-touch">Sentencia factibilidad</h1>
						<h1 class="subtitle is-5 is-size-6-touch">Dictado por el equipo del Presupuesto Participativo</h1>
						<div class="message is-warning">
							<div class="message-body">
								<p class="is-italic">{{project.feasibility|nl2br}}</p>
							</div>
						</div>
						<br>
					{% endif %}
					{% for key, field in projectFields.fields %}
            {% if subject.id and 'admin' in subject.roles and key in projectFields.private %}
						<h1 class="title is-3 is-size-5-touch"><span class="tag is-primary">Privado</span>&nbsp;{{field.name}}</h1>
						<h1 class="subtitle is-5 is-italic">{{field.description}}</h1>
						<div class="message is-black">
							<div class="message-body">
								<p class="">{{project.field_values[key] is defined ? project.field_values[key]|nl2br : '- Sin completar -'}}</p>
							</div>
						</div>
						<br>
            {% elseif key not in projectFields.private %}
						<h1 class="title is-3 is-size-5-touch">{{field.name}}</h1>
						<h1 class="subtitle is-5 is-italic">{{field.description}}</h1>
						<div class="message is-black">
							<div class="message-body">
								<p class="">{{project.field_values[key] is defined ? project.field_values[key]|nl2br : '- Sin completar -'}}</p>
							</div>
						</div>
						<br>
            {% endif %}
					{% endfor %}
				</div>
				{% include'project/column-right.twig'%}
			</div>
		</div>
	</section>
	{% if (vote_available() and subject.id is null) 
    or (vote_available() and subject.id and citizen() is not null and citizen().voted == false) %}
		<div class="hero is-primary indexBg">
			<div class="hero-body">
				<div class="container has-text-centered">
					<div class="columns">
						<div class="column is-6 is-offset-3">
							{% if citizen() is not null and citizen().voted == false %}
								<a href="{{path_for('showVoting')}}" class="button is-primary is-inverted is-fullwidth is-large is-rounded">
									<i class="fas fa-paper-plane fa-fw"></i>&nbsp;¡Votá&nbsp;<span class="is-800">HOY</span>!</a>
							{% endif %}
							{% if subject.id is null %}
								<a href="{{path_for('showLogin')}}" class="button is-white is-outlined is-large is-rounded">
									<i class="fas fa-sign-in-alt fa-fw"></i>¡Entrá y votá!</a>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock %}
