<footer class="footer">
  <div class="container">
    <div class="columns is-centered">
      {# <div class="column is-4 has-text-centered-touch is-hidden-touch">
        <ul>
          <li>
            <a href="{{path_for('showHome')}}">Inicio</a>
          </li>
          <li>
            <a href="{{path_for('showCatalogo')}}">Catálogo de proyectos</a>
          </li>
          <li>
            <a href="{{path_for('showTerminos')}}">Política de privacidad</a>
          </li>
          <li>
            <a href="{{path_for('showAgenda')}}">Agenda</a>
          </li>
        </ul>
      </div> #}
      <div class="column is-4">
      <img src="{{asset('img/custom/logo-black.svg')}}" class="image is-centered" style="width:150px;" alt="Logo Presupuesto">
      </div>
      {# <div class="column is-4 has-text-right has-text-centered-touch is-size-7-touch">
        Urquiza 517 - Tel.: (03476) 15418681
        <br>presupuestoparticipativo.sl@gmail.com
        <br>Secretaría de Coordinación General
        <br><b>Municipalidad de San Lorenzo</b>
      </div> #}
    </div>
    <p class="has-text-centered is-size-7">Hecho con <a href="https://github.com/virtuagora/nice-budget">Nice budget</a>. Un proyecto de Virtuagora, Democracia en Red y SantaLab</p>
  </div>
</footer>
{# <div class="hero is-small is-primary">
  <div class="hero-body has-text-centered">
    <p class="has-text-centered is-size-7">{{ "now"|date("Y") }}. Hecho con <a href="https://github.com/virtuagora/nice-budget" class="has-text-white"><b>Nice budget</b></a>. Un proyecto de Virtuagora, Democracia en Red y SantaLab.</p>
  </div>
</div> #}